# Assignment 2 - DS4Biz Y63
## TextScraping_Classification
***

### Team Detail
**Team Name**: sompinandsomshine   
***
### *Student 1*
**Student ID**: 61070278   
**Student Full Name**: นายกิตติภณ สุรุ่งเรืองสกุล
***
### *Student 2*
**Student ID**: 61070330   
**Student Full Name**: นางสาวอิงฟ้า ภูติวรนาถ
***

#### link: http://www.it.kmitl.ac.th/~teerapong/news_archive/index.html

# Data Collection

In [5]:
import requests
#https://requests.readthedocs.io/en/master/
import bs4
#https://www.crummy.com/software/BeautifulSoup/bs4/doc/

import pandas as pd

In [47]:
response = requests.get('http://www.it.kmitl.ac.th/~teerapong/news_archive/index.html')
print(response)
print(type(response))

<Response [200]>
<class 'requests.models.Response'>

In [48]:
html_page = bs4.BeautifulSoup(response.content, 'html.parser')
print(html_page)

<!DOCTYPE html>

<html lang="en">
<head>
<title>Online News Archive</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="noindex" name="robots"/>
<meta content="news,articles,news" name="keywords">
<meta content="Breaking News | International Headlines" property="og:title"/>
<meta content="News Archive" property="og:site_name"/>
<meta content="Latest news and more from the definitive brand of quality news." property="og:description"/>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<style>
	  		.main{ padding: 0; text-align: center;}
	  		.footer{ padding: 6px;text-align: center; margin-top: 1em; }

	  		h1
	  		{
	  			font-size: 180%;
	  			margin-top: 15px;
	  			margin-bottom: 15px;
	  		}
	  		ul {list-style-type: none;}
	  		li { margin-top: 5px; }
	  </style>
</meta></head>
<body>
<div class="container" style="margin-top: 2em;">
<div class="main">
<img alt="banner" src="images/banner.jpg" width="500"/>
<h1>News Article Archive</h1>
<p>Archive of all news headlines and stories, organised per month.</p>
<ul>
<li>Articles — <a href="month-jan-2017.html">January</a> [118]</li>
<li>Articles — <a href="month-feb-2017.html">February</a> [124]</li>
<li>Articles — <a href="month-mar-2017.html">March</a> [116]</li>
<li>Articles — <a href="month-apr-2017.html">April</a> [118]</li>
<li>Articles — <a href="month-may-2017.html">May</a> [115]</li>
<li>Articles — <a href="month-jun-2017.html">June</a> [115]</li>
<li>Articles — <a href="month-jul-2017.html">July</a> [122]</li>
<li>Articles — <a href="month-aug-2017.html">August</a> [116]</li>
<li>Articles — <a href="month-sep-2017.html">September</a> [113]</li>
<li>Articles — <a href="month-oct-2017.html">October</a> [124]</li>
<li>Articles — <a href="month-nov-2017.html">November</a> [122]</li>
<li>Articles — <a href="month-dec-2017.html">December</a> [115]</li>
</ul>
</div>
<div class="footer">
<span><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Cookie Information</a> </span><br/>
<span>© <span class="thisyear">2019-2020</span> — Original rights holders</span>
</div>
</div>
</body>
</html>

In [49]:
# nested elements
selector = 'body > div > div.main > ul > li> a'
tags = html_page.select(selector)
tags

[<a href="month-jan-2017.html">January</a>,
 <a href="month-feb-2017.html">February</a>,
 <a href="month-mar-2017.html">March</a>,
 <a href="month-apr-2017.html">April</a>,
 <a href="month-may-2017.html">May</a>,
 <a href="month-jun-2017.html">June</a>,
 <a href="month-jul-2017.html">July</a>,
 <a href="month-aug-2017.html">August</a>,
 <a href="month-sep-2017.html">September</a>,
 <a href="month-oct-2017.html">October</a>,
 <a href="month-nov-2017.html">November</a>,
 <a href="month-dec-2017.html">December</a>]

In [50]:
list_archive = []
for tag in tags:
    list_archive.append('http://www.it.kmitl.ac.th/~teerapong/news_archive/' + tag['href'])
list_archive

['http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-feb-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-mar-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-apr-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-may-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jun-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jul-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-aug-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-sep-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-oct-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-nov-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-dec-2017.html']

### Create DataFrame

In [51]:
df = pd.DataFrame(columns=['category', 'title', 'link'])
df

Empty DataFrame
Columns: [category, title, link]
Index: []

### Create function

In [52]:
def extract_category(html_page):
    selector = 'body > div > div.main > table > tbody > tr> td.category'
    tags = html_page.select(selector)
    category = []

    for tag in tags:
        if tag.text.strip() != 'N/A':
#             print(tag.text.strip())
            category.append(tag.text.strip())

    return category

In [53]:
def extract_title(html_page):
    selector = 'body > div > div.main > table > tbody > tr > td.title > a'
    tags = html_page.select(selector)
    title = []
    
    for tag in tags:
        title.append(tag.text.strip())
        
    return title

In [54]:
def extract_link_title(html_page):
    selector = 'body > div > div.main > table > tbody > tr > td.title > a'
    tags = html_page.select(selector)
    link_title = []
    
    for tag in tags:    
        link_title.append('http://www.it.kmitl.ac.th/~teerapong/news_archive/' + tag['href'])
        
    return link_title

In [55]:
def extract_month(html_page):
    selector = 'body > div > div.main > h1'
    tag = html_page.select_one(selector)
    month = tag.text.split()[-1]
    return month

In [56]:
url = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'
response = requests.get(url)
html_page = bs4.BeautifulSoup(response.content, 'html.parser')
# extract_category(html_page)
# extract_title(html_page)
# extract_link_title(html_page)
# extract_month(html_page)

In [57]:
# ['Jan']*118

In [58]:
def extract_news_archive_info(url):
    response = requests.get(url)
    html_page = bs4.BeautifulSoup(response.content, 'html.parser')
    
    category = extract_category(html_page)
    title = extract_title(html_page)
    link_title = extract_link_title(html_page)
    month = extract_month(html_page)
    
#     news_archive_dict = {
#         'Article Category': category,
#         'Article Title': title,
#         'Article link': link_title
#     }

    news_archive_list = [category,
            title,
            link_title
                        ]
    
#     return news_archive_list
    category = pd.Series(news_archive_list[0])
    title = pd.Series(news_archive_list[1])
    link_title = pd.Series(news_archive_list[2])
    month_series = pd.Series([month]*len(category))
    
    result = pd.concat([category, title, link_title, month_series], axis=1)
    result = result.rename(columns={0: "category", 1: "title", 2: "link", 3:'month'})
    return result

In [59]:
# url = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'
# df = extract_news_archive_info(url)
# df

In [60]:
# category = pd.Series(news_archive_list[0])
# title = pd.Series(news_archive_list[1])
# link_title = pd.Series(news_archive_list[2])

In [61]:
# df = pd.concat([category, title, link_title], axis=1)
# df = df.rename(columns={0: "category", 1: "title", 2: "link_title"})

### เอา url ไปเข้า Function

In [62]:
list_archive

['http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-feb-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-mar-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-apr-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-may-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jun-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jul-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-aug-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-sep-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-oct-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-nov-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-dec-2017.html']

In [63]:
for url in list_archive:
    result = extract_news_archive_info(url)
    df = df.append(result, ignore_index=True)

In [64]:
df.isna().sum()

category    0
title       0
link        0
month       0
dtype: int64

In [65]:
df

,category,title,link,month
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
...,...,...,...,...
1403,sport,Woodward eyes Brennan for Lions,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1404,business,WorldCom trial starts in New York,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1405,business,Yukos accused of lying to court,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1406,business,Yukos drops banks from court bid,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1407,sport,Zambia confident and cautious,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December

In [66]:
# df['link'].iloc[0][50:-5]

### Add id coloumn

In [67]:
df['id'] = df['link'].str[50:-5]
df

,category,title,link,month,id
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0418
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0027
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0631
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-2105
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-3300
...,...,...,...,...,...
1403,sport,Woodward eyes Brennan for Lions,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2238
1404,business,WorldCom trial starts in New York,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2334
1405,business,Yukos accused of lying to court,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2095
1406,business,Yukos drops banks from court bid,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-1351
1407,sport,Zambia confident and cautious,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-0068

In [68]:
# for i in range(len(result)):
#     print(result['link'].iloc[i])

### Get Content

In [70]:
list_content = []

In [71]:
def get_content(url):
    response = requests.get(url)

    html_page = bs4.BeautifulSoup(response.content, 'html.parser')

    selector = 'body > div > div.main > p'
    tags = html_page.select(selector)

    content = ''
    for tag in tags:
        if tag.text.strip() != '':
            if '.html' in str(tag):
                pass
            else:
                content += tag.text.strip() + ' '
                
    list_content.append(content.strip())

In [72]:
# get_content('http://www.it.kmitl.ac.th/~teerapong/news_archive/article-jan-4187.html')
# print(list_content[0])

In [73]:
for i in range(len(df)):
    get_content(df['link'].iloc[i])

In [29]:
# df['link'].iloc[1403]

In [74]:
content = pd.Series(list_content)
df = pd.concat([df, content], axis=1)
df = df.rename(columns={0: "content"})
df

,category,title,link,month,id,content
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0418,The sporting industry has come a long way sinc...
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0027,Asian quake hits European shares Shares in Eur...
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0631,BT is offering customers free internet telepho...
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-2105,Barclays shares up on merger talk Shares in UK...
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-3300,England centre Olly Barkley has been passed fi...
...,...,...,...,...,...,...
1403,sport,Woodward eyes Brennan for Lions,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2238,Woodward eyes Brennan for Lions Toulouse's for...
1404,business,WorldCom trial starts in New York,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2334,"The trial of Bernie Ebbers, former chief execu..."
1405,business,Yukos accused of lying to court,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2095,Yukos accused of lying to court Russian oil fi...
1406,business,Yukos drops banks from court bid,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-1351,Russian oil company Yukos has dropped the thre...
1407,sport,Zambia confident and cautious,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-0068,"Zambia's technical director, Kalusha Bwalya is..."

In [75]:
# print(df['link'].iloc[1403])
# print(df['id'].iloc[1403])
# print(df['content'].iloc[1403])

## save DataFarame to csv/txt
เพื่อให้ง่ายต่อการใช้ในภายหลัง

In [76]:
# df.to_csv('data.csv', index=False)

In [77]:
df = pd.read_csv('data.csv')
df.head()

,category,title,link,month,id,content
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0418,The sporting industry has come a long way sinc...
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0027,Asian quake hits European shares Shares in Eur...
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0631,BT is offering customers free internet telepho...
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-2105,Barclays shares up on merger talk Shares in UK...
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-3300,England centre Olly Barkley has been passed fi...

### คัดให้เหลือเฉพาะที่ใช้ในการวิเคราะห์
- AllArticles_OnlyContent
- AllArticles_HeadingPlusContent

**csv**

In [78]:
AllArticles_OnlyHeading = df['title']
AllArticles_OnlyHeading.to_csv('datastore/AllArticles_OnlyHeading.csv', index=False)

In [79]:
AllArticles_OnlyContent = df['content']
AllArticles_OnlyContent.to_csv('datastore/AllArticles_OnlyContent.csv', index=False)

In [80]:
AllArticles_HeadingPlusContent = df[['title','content']]
AllArticles_HeadingPlusContent.to_csv('datastore/AllArticles_HeadingPlusContent.csv', index=False)

In [81]:
Category = df['category']
Category.to_csv('datastore/category.csv', index=False)

**txt**

In [82]:
AllArticles_OnlyHeading = df['title']
AllArticles_OnlyHeading.to_csv(r'AllArticles_OnlyHeading.txt', header=None, index=None, sep=' ', mode='a')

In [83]:
# AllArticles_OnlyContent = df['content']
AllArticles_OnlyContent.to_csv(r'AllArticles_OnlyContent.txt', header=None, index=None, sep=' ', mode='a')

In [84]:
# AllArticles_HeadingPlusContent = df[['title','content']]
AllArticles_HeadingPlusContent.to_csv(r'AllArticles_HeadingPlusContent.txt', header=None, index=None, sep=' ', mode='a')

In [85]:
Category.to_csv(r'target/category.txt', header=None, index=None, sep=' ', mode='a')

# Preprocessing

In [6]:
fin = open("AllArticles_OnlyContent.txt","r", encoding="utf8")
raw_documents = fin.readlines()
fin.close()
print("Read %d raw text documents" % len(raw_documents))

Read 1408 raw text documents

In [89]:
doc1 = raw_documents[0].strip()
# print a snippet
print(doc1[0:300])

"The sporting industry has come a long way since the ‘60s. It has carved out for itself a niche with its roots so deep that I cannot fathom the sports industry showing any sign of decline any time soon - or later. The reason can be found in this seemingly subtle difference - other industries have cu

In [90]:
from sklearn.feature_extraction.text import CountVectorizer
tokenize = CountVectorizer().build_tokenizer()
# convert to lowercase, then tokenize
tokens1 = tokenize(doc1.lower())
print(tokens1)

['the', 'sporting', 'industry', 'has', 'come', 'long', 'way', 'since', 'the', '60s', 'it', 'has', 'carved', 'out', 'for', 'itself', 'niche', 'with', 'its', 'roots', 'so', 'deep', 'that', 'cannot', 'fathom', 'the', 'sports', 'industry', 'showing', 'any', 'sign', 'of', 'decline', 'any', 'time', 'soon', 'or', 'later', 'the', 'reason', 'can', 'be', 'found', 'in', 'this', 'seemingly', 'subtle', 'difference', 'other', 'industries', 'have', 'customers', 'the', 'sporting', 'industry', 'has', 'fans', 'vivek', 'ranadivé', 'leader', 'of', 'the', 'ownership', 'group', 'of', 'the', 'nba', 'sacramento', 'kings', 'explained', 'it', 'beautifully', 'fans', 'will', 'paint', 'their', 'face', 'purple', 'fans', 'will', 'evangelize', 'every', 'other', 'ceo', 'in', 'every', 'business', 'is', 'dying', 'to', 'be', 'in', 'our', 'position', 'they', 're', 'dying', 'to', 'have', 'fans', 'while', 'fan', 'passion', 'alone', 'could', 'almost', 'certainly', 'keep', 'the', 'industry', 'going', 'leagues', 'and', 'sporting', 'franchises', 'have', 'decided', 'not', 'to', 'rest', 'on', 'their', 'laurels', 'the', 'last', 'few', 'years', 'have', 'seen', 'the', 'steady', 'introduction', 'of', 'technology', 'into', 'the', 'world', 'of', 'sports', 'amplifying', 'fans', 'appreciation', 'of', 'games', 'enhancing', 'athletes', 'public', 'profiles', 'and', 'informing', 'their', 'training', 'methods', 'even', 'influencing', 'how', 'contests', 'are', 'waged', 'also', 'digital', 'technology', 'in', 'particular', 'has', 'helped', 'to', 'create', 'an', 'alternative', 'source', 'of', 'revenue', 'besides', 'the', 'games', 'themselves', 'corporate', 'sponsorship', 'they', 'achieved', 'this', 'by', 'capitalizing', 'on', 'the', 'ardor', 'of', 'their', 'customer', 'base', 'sorry', 'fan', 'base']

In [93]:
#set ของ stopwords ที่มีคนรวบรวมไว้ทั้งหมด
from sklearn.feature_extraction import text
stopwords = text.ENGLISH_STOP_WORDS

In [95]:
#ตัดคำที่เป็น stopwords ออกไป
filtered_tokens1 = []
for token in tokens1:
    if not token in stopwords:
        filtered_tokens1.append(token)
print(filtered_tokens1)

['sporting', 'industry', 'come', 'long', 'way', '60s', 'carved', 'niche', 'roots', 'deep', 'fathom', 'sports', 'industry', 'showing', 'sign', 'decline', 'time', 'soon', 'later', 'reason', 'seemingly', 'subtle', 'difference', 'industries', 'customers', 'sporting', 'industry', 'fans', 'vivek', 'ranadivé', 'leader', 'ownership', 'group', 'nba', 'sacramento', 'kings', 'explained', 'beautifully', 'fans', 'paint', 'face', 'purple', 'fans', 'evangelize', 'ceo', 'business', 'dying', 'position', 'dying', 'fans', 'fan', 'passion', 'certainly', 'industry', 'going', 'leagues', 'sporting', 'franchises', 'decided', 'rest', 'laurels', 'years', 'seen', 'steady', 'introduction', 'technology', 'world', 'sports', 'amplifying', 'fans', 'appreciation', 'games', 'enhancing', 'athletes', 'public', 'profiles', 'informing', 'training', 'methods', 'influencing', 'contests', 'waged', 'digital', 'technology', 'particular', 'helped', 'create', 'alternative', 'source', 'revenue', 'games', 'corporate', 'sponsorship', 'achieved', 'capitalizing', 'ardor', 'customer', 'base', 'sorry', 'fan', 'base']

In [96]:
all_filtered_tokens = []
for doc in raw_documents:
    # tokenize the next document
    tokens = tokenize(doc.lower())
    # remove the stopwords
    filtered_tokens = []
    for token in tokens:
        if not token in stopwords:
            filtered_tokens.append(token)  
    # add to the overall list
    all_filtered_tokens.append( filtered_tokens )
print("Created %d filtered token lists" % len(all_filtered_tokens) )

Created 1408 filtered token lists

In [97]:
counts = {}
# process filtered tokens for each document
for doc_tokens in all_filtered_tokens:
    for token in doc_tokens:
        # increment existing?
        if token in counts:
            counts[token] += 1
        # a new term?
        else:
            counts[token] = 1
print("Found %d unique terms in this corpus" % len(counts))

Found 22543 unique terms in this corpus

In [98]:
import operator
sorted_counts = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)

In [99]:
for i in range(20):
    term = sorted_counts[i][0]
    count = sorted_counts[i][1]
    print( "%s (count=%d)" % ( term, count ) )

said (count=4119)
year (count=1549)
people (count=1201)
new (count=1193)
mr (count=1092)
world (count=952)
time (count=926)
game (count=874)
closed (count=797)
comments (count=789)
news (count=762)
article (count=744)
online (count=721)
just (count=683)
market (count=638)
like (count=618)
games (count=601)
company (count=598)
years (count=597)
players (count=597)

In [100]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(raw_documents)
print(X.shape)

(1408, 22837)

In [101]:
terms = vectorizer.get_feature_names()
vocab = vectorizer.vocabulary_
print("Vocabulary has %d distinct terms" % len(terms))

Vocabulary has 22837 distinct terms

In [102]:
print(terms[500:530])

['26bn', '26m', '27', '270', '271', '273', '274', '275bn', '275m', '276', '277', '277m', '27bn', '27m', '27th', '28', '280', '280bn', '280m', '281', '281m', '284m', '286', '2871', '28bn', '28m', '28th', '29', '290m', '291m']

In [103]:
# what column is the term 'football' on?
vocab["football"]

8608

In [104]:
# what column is the term 'world' on?
vocab["world"]

22570

In [105]:
vocab["technology"]

20369

In [106]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range = (1,2))
X = vectorizer.fit_transform(raw_documents)

In [107]:
terms = vectorizer.get_feature_names()
vocab = vectorizer.vocabulary_
print("Vocabulary has %d distinct terms" % len(terms))

Vocabulary has 251248 distinct terms

In [108]:
print(terms[510:520])

['10 were', '10 which', '10 while', '10 win', '10 with', '10 world', '10 xbox', '10 yards', '10 year', '10 years']

In [109]:
vectorizer = CountVectorizer(stop_words="english")
X = vectorizer.fit_transform(raw_documents)
# Are standard stopwords gone?
"and" in vectorizer.vocabulary_

False

In [111]:
# how many terms did we have with the last approach?
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(raw_documents)
print("Number of terms in model is %d" % len(vectorizer.vocabulary_) )

Number of terms in model is 22837

In [112]:
# build another matrix, but filter terms appearing in less than 5 documents
vectorizer = CountVectorizer(min_df = 5)
X = vectorizer.fit_transform(raw_documents)
print("Number of terms in model is %d" % len(vectorizer.vocabulary_) )

Number of terms in model is 7047

In [113]:
!pip install nltk

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (0.16.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.47.0)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\programdata\anaconda3\lib\site-packages (from nltk) (2020.6.8)

In [115]:
import nltk
# define the function
def stem_tokenizer(text):
    # use the standard scikit-learn tokenizer first
    standard_tokenizer = CountVectorizer().build_tokenizer()
    tokens = standard_tokenizer(text)
    # then use NLTK to perform stemming on each token
    stemmer = PorterStemmer()
    stems = []
    for token in tokens:
        stems.append( stemmer.stem(token.lower()) )
    return stems

In [118]:
vectorizer = CountVectorizer(tokenizer=stem_tokenizer)
X = vectorizer.fit_transform(raw_documents)
# display some sample terms
terms = vectorizer.get_feature_names()
print(terms[500:520])

['27m', '27th', '28', '280', '280bn', '280m', '281', '281m', '284m', '286', '2871', '28bn', '28m', '28th', '29', '290m', '291m', '293', '294', '2940']

In [119]:
# define the function
def lemma_tokenizer(text):
    # use the standard scikit-learn tokenizer first
    standard_tokenizer = CountVectorizer().build_tokenizer()
    tokens = standard_tokenizer(text)
    # then use NLTK to perform lemmatisation on each token
    lemmatizer = nltk.stem.WordNetLemmatizer()
    lemma_tokens = []
    for token in tokens:
        lemma_tokens.append( lemmatizer.lemmatize(token))
    return lemma_tokens

In [120]:
#-----------------------------------------Tokenizer and WordNet Lemmatizer with POS--------------------------------------
# define the function
def lemma_tokenizer_w_pos_tag(text):
    # define a nested function for converting POS tag for Lemmatizer
    def convert_tags(tag):
        if tag == 'vbd' or tag == 'vbg' or tag == 'vbz':
            return 'v'
        else: 
            return 'n'
    
    #-----------------------------------------------Using WordNet Lemmatizer-----------------------------------------
    # use the standard scikit-learn tokenizer first
    standard_tokenizer = CountVectorizer().build_tokenizer()
    tokens = standard_tokenizer(text)
    tokens_with_pos_tag = nltk.pos_tag(tokens)
    # print(tokens_with_pos_tag)
    # then use NLTK to perform lemmatisation on each token
    lemmatizer = nltk.WordNetLemmatizer()
    lemma_tokens = []
    for token in tokens_with_pos_tag:
        new_tag = convert_tags(token[1].lower())
        lemma_tokens.append(lemmatizer.lemmatize(token[0], new_tag))
    
#     print(lemma_tokens)
    return lemma_tokens

## Use WordNet Lemmatizer without POS tagging

In [124]:
doc1

'"The sporting industry has come a long way since the ‘60s. It has carved out for itself a niche with its roots so deep that I cannot fathom the sports industry showing any sign of decline any time soon - or later. The reason can be found in this seemingly subtle difference - other industries have customers; the sporting industry has fans. Vivek Ranadivé, leader of the ownership group of the NBA’s Sacramento Kings, explained it beautifully, “Fans will paint their face purple, fans will evangelize. ... Every other CEO in every business is dying to be in our position — they’re dying to have fans.“ While fan passion alone could almost certainly keep the industry going, leagues and sporting franchises have decided not to rest on their laurels. The last few years have seen the steady introduction of technology into the world of sports - amplifying fans’ appreciation of games, enhancing athletes’ public profiles and informing their training methods, even influencing how contests are waged. Also, digital technology in particular has helped to create an alternative source of revenue, besides the games themselves - corporate sponsorship. They achieved this by capitalizing on the ardor of their customer base - sorry, fan base."'

In [122]:
vectorizer = CountVectorizer(tokenizer=lemma_tokenizer)
X = vectorizer.fit_transform(raw_documents)
# display some sample terms
print(list(vectorizer.vocabulary_.keys())[0:100])
# terms = vectorizer.get_feature_names()
# print(terms[200:220])

['the', 'sporting', 'industry', 'ha', 'come', 'long', 'way', 'since', '60', 'it', 'carved', 'out', 'for', 'itself', 'niche', 'with', 'root', 'so', 'deep', 'that', 'cannot', 'fathom', 'sport', 'showing', 'any', 'sign', 'of', 'decline', 'time', 'soon', 'or', 'later', 'reason', 'can', 'be', 'found', 'in', 'this', 'seemingly', 'subtle', 'difference', 'other', 'have', 'customer', 'fan', 'vivek', 'ranadivé', 'leader', 'ownership', 'group', 'nba', 'sacramento', 'king', 'explained', 'beautifully', 'will', 'paint', 'their', 'face', 'purple', 'evangelize', 'every', 'ceo', 'business', 'is', 'dying', 'to', 'our', 'position', 'they', 're', 'while', 'passion', 'alone', 'could', 'almost', 'certainly', 'keep', 'going', 'league', 'and', 'franchise', 'decided', 'not', 'rest', 'on', 'laurel', 'last', 'few', 'year', 'seen', 'steady', 'introduction', 'technology', 'into', 'world', 'amplifying', 'appreciation', 'game', 'enhancing']

In [123]:
# vectorizer = CountVectorizer(tokenizer=lemma_tokenizer)
vectorizer = CountVectorizer(tokenizer=lemma_tokenizer_w_pos_tag)
X = vectorizer.fit_transform(raw_documents)
# display some sample terms
print(list(vectorizer.vocabulary_.keys())[0:100])
# terms = vectorizer.get_feature_names()
# print(terms[201:221])

['the', 'sporting', 'industry', 'have', 'come', 'long', 'way', 'since', '60', 'it', 'carved', 'out', 'for', 'itself', 'niche', 'with', 'root', 'so', 'deep', 'that', 'cannot', 'fathom', 'sport', 'show', 'any', 'sign', 'of', 'decline', 'time', 'soon', 'or', 'later', 'reason', 'can', 'be', 'found', 'in', 'this', 'seemingly', 'subtle', 'difference', 'other', 'customer', 'fan', 'vivek', 'ranadivé', 'leader', 'ownership', 'group', 'nba', 'sacramento', 'king', 'explain', 'beautifully', 'will', 'paint', 'their', 'face', 'purple', 'evangelize', 'every', 'ceo', 'business', 'die', 'to', 'our', 'position', 'they', 're', 'while', 'passion', 'alone', 'could', 'almost', 'certainly', 'keep', 'go', 'league', 'and', 'franchise', 'decided', 'not', 'rest', 'on', 'laurel', 'last', 'few', 'year', 'seen', 'steady', 'introduction', 'technology', 'into', 'world', 'amplify', 'appreciation', 'game', 'enhance', 'athlete', 'public']

In [129]:
# vectorizer = CountVectorizer(stop_words="english",min_df = 3,tokenizer=lemma_tokenizer)
vectorizer = CountVectorizer(stop_words="english",min_df = 3,tokenizer=lemma_tokenizer_w_pos_tag)
X = vectorizer.fit_transform(raw_documents)
print(X.shape)

(1408, 8191)

In [131]:
print(list(vectorizer.vocabulary_.keys())[0:35])

['sporting', 'industry', 'come', 'long', 'way', '60', 'niche', 'root', 'deep', 'sport', 'sign', 'decline', 'time', 'soon', 'later', 'reason', 'seemingly', 'difference', 'customer', 'fan', 'leader', 'ownership', 'group', 'nba', 'king', 'explain', 'paint', 'face', 'ceo', 'business', 'die', 'position', 'passion', 'certainly', 'league']

### Term Weighting

In [140]:
from sklearn.feature_extraction.text import TfidfVectorizer
# we can pass in the same preprocessing parameters
vectorizer = TfidfVectorizer(stop_words="english",min_df = 5, max_df=1000, lowercase=True)
X = vectorizer.fit_transform(raw_documents)
# display some sample weighted values
print(X[0])

  (0, 5658)	0.12635917755557236
  (0, 708)	0.20685338848350532
  (0, 1626)	0.10054293773849095
  (0, 275)	0.10054293773849095
  (0, 5720)	0.12035408877745242
  (0, 1533)	0.08746627050335351
  (0, 5139)	0.08974570153347976
  (0, 5667)	0.0905643964991388
  (0, 431)	0.10588530273148258
  (0, 1575)	0.07900257323550364
  (0, 2928)	0.07738720046898899
  (0, 4343)	0.08641357455116963
  (0, 1845)	0.0689235032011391
  (0, 3910)	0.11713634041489018
  (0, 6260)	0.08182421776046826
  (0, 4767)	0.07281830699778001
  (0, 595)	0.09629300380643811
  (0, 2157)	0.11569618005034049
  (0, 2668)	0.11616721188662793
  (0, 6714)	0.04208676868346757
  (0, 6069)	0.11778346889329713
  (0, 3277)	0.12035408877745242
  (0, 5786)	0.11868327362541942
  (0, 5400)	0.06465409902620815
  (0, 6755)	0.04604042593612648
  :	:
  (0, 3455)	0.13482287482342226
  (0, 4077)	0.13482287482342226
  (0, 2806)	0.05982794722235783
  (0, 4301)	0.10054293773849095
  (0, 3543)	0.10054293773849095
  (0, 2381)	0.38365708673778803
  (0, 1627)	0.07527691548750995
  (0, 3172)	0.09988021395336265
  (0, 1838)	0.09420385710107047
  (0, 5399)	0.13160512646086
  (0, 4901)	0.08895790819578284
  (0, 3518)	0.07127137378725076
  (0, 5654)	0.07900257323550364
  (0, 6180)	0.039948953161750365
  (0, 1703)	0.0918559865149588
  (0, 5542)	0.08675860795840083
  (0, 5531)	0.08895790819578284
  (0, 5724)	0.1771497748668681
  (0, 1709)	0.10054293773849095
  (0, 4119)	0.12217036825248564
  (0, 6600)	0.04784771379100076
  (0, 3679)	0.05631141105885063
  (0, 1307)	0.05756172761411324
  (0, 3173)	0.2571808962744253
  (0, 5723)	0.31264346273834875

# Classification

In [7]:
raw_documents[0]

'"The sporting industry has come a long way since the ‘60s. It has carved out for itself a niche with its roots so deep that I cannot fathom the sports industry showing any sign of decline any time soon - or later. The reason can be found in this seemingly subtle difference - other industries have customers; the sporting industry has fans. Vivek Ranadivé, leader of the ownership group of the NBA’s Sacramento Kings, explained it beautifully, “Fans will paint their face purple, fans will evangelize. ... Every other CEO in every business is dying to be in our position — they’re dying to have fans.“ While fan passion alone could almost certainly keep the industry going, leagues and sporting franchises have decided not to rest on their laurels. The last few years have seen the steady introduction of technology into the world of sports - amplifying fans’ appreciation of games, enhancing athletes’ public profiles and informing their training methods, even influencing how contests are waged. Also, digital technology in particular has helped to create an alternative source of revenue, besides the games themselves - corporate sponsorship. They achieved this by capitalizing on the ardor of their customer base - sorry, fan base."\n'

In [8]:
fin = open("target/category.txt","r", encoding="utf8")
y = fin.readlines()
fin.close()

In [9]:
len(raw_documents)

1408

In [10]:
len(y)

1408

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(raw_documents, y, test_size=0.2, random_state=42)

In [292]:
# vectorizer = TfidfVectorizer(stop_words="english",min_df = 5, max_df=1000)
# X = vectorizer.fit_transform(X_train)

In [293]:
# from sklearn.feature_extraction.text import TfidfTransformer
# tfidf_transformer = TfidfTransformer()
# X_train_tfidf = tfidf_transformer.fit_transform(X)

In [294]:
# count_vect = CountVectorizer()
# X_train_counts = count_vect.fit_transform(train_data.data)

# # transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
# tfidf_transformer = TfidfTransformer()
# X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

---

In [13]:
import numpy as np
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline

# KNN

In [79]:
from sklearn.neighbors import KNeighborsClassifier

In [80]:
X_train, X_test, y_train, y_test = train_test_split(raw_documents, y, test_size=0.2, random_state=42)

In [81]:
# # Builds a dictionary of features and transforms documents to feature vectors and convert our text documents to a
# # matrix of token counts (CountVectorizer)
# count_vect = CountVectorizer()
# X_train_counts = count_vect.fit_transform(train_data.data)

# # transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
# tfidf_transformer = TfidfTransformer()
# X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [82]:
# Builds a dictionary of features and transforms documents to feature vectors and convert our text documents to a
# matrix of token counts (CountVectorizer)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)

# transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [83]:
# knn = KNeighborsClassifier(n_neighbors=7)

# # training our classifier ; train_data.target will be having numbers assigned for each category in train data
# clf = knn.fit(X_train_tfidf, train_data.target)

# # Input Data to predict their classes of the given categories
# docs_new = ['I have a Harley Davidson and Yamaha.', 'I have a GTX 1050 GPU']
# # building up feature vector of our input
# X_new_counts = count_vect.transform(docs_new)
# # We call transform instead of fit_transform because it's already been fit
# X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [84]:
knn = KNeighborsClassifier(n_neighbors=5)

# training our classifier ; train_data.target will be having numbers assigned for each category in train data
clf = knn.fit(X_train_tfidf, y_train)

# Input Data to predict their classes of the given categories
docs_new = ["Ajinkya Rahane remains vice-captain in India's revised squad for the Australia Tests but Irfan Pathan feels a much more experienced Rohit Sharma has to lead the side in Virat Kohli's absence following the series opener. Kohli has been granted paternity leave after the first Test and Pathan said it is bound to have a huge impact on the team.",
            "The S&P 500 and Dow were set to open at record highs on Monday, as news of the first successful late stage COVID-19 vaccine trials stirred hopes of the economy emerging from a year of pandemic-driven crisis."]

# building up feature vector of our input
X_new_counts = count_vect.transform(docs_new)
# We call transform instead of fit_transform because it's already been fit
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [85]:
# # predicting the category of our input text: Will give out number for category
# predicted = clf.predict(X_new_tfidf)

# for doc, category in zip(docs_new, predicted):
#     print('%r => %s' % (doc, train_data.target_names[category]))

In [86]:
# predicting the category of our input text: Will give out number for category
predicted = clf.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print(doc, "==>",category)

Ajinkya Rahane remains vice-captain in India's revised squad for the Australia Tests but Irfan Pathan feels a much more experienced Rohit Sharma has to lead the side in Virat Kohli's absence following the series opener. Kohli has been granted paternity leave after the first Test and Pathan said it is bound to have a huge impact on the team. ==> sport

The S&P 500 and Dow were set to open at record highs on Monday, as news of the first successful late stage COVID-19 vaccine trials stirred hopes of the economy emerging from a year of pandemic-driven crisis. ==> business

In [87]:
# # We can use Pipeline to add vectorizer -> transformer -> classifier all in a one compound classifier
# text_clf = Pipeline([
#     ('vect', CountVectorizer()),
#     ('tfidf', TfidfTransformer()),
#     ('clf', knn),
# ])
# # Fitting our train data to the pipeline
# text_clf.fit(train_data.data, train_data.target)

# # Test data 
# test_data = fetch_20newsgroups(subset='test',
#                                categories=categories, shuffle=True, random_state=42)
# docs_test = test_data.data
# # Predicting our test data
# predicted = text_clf.predict(docs_test)
# print('We got an accuracy of',np.mean(predicted == test_data.target)*100, '% over the test data.')

In [88]:
# We can use Pipeline to add vectorizer -> transformer -> classifier all in a one compound classifier
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', knn),
])
# Fitting our train data to the pipeline
text_clf.fit(X_train, y_train)

# Test data 
test_data = fetch_20newsgroups(subset='test',
                               categories=categories, shuffle=True, random_state=42)
docs_test = X_test
# Predicting our test data
predicted = text_clf.predict(docs_test)
print('We got an accuracy of',np.mean(predicted == y_test)*100, '% over the test data.')

We got an accuracy of 94.32624113475178 % over the test data.

In [89]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predicted)

0.9432624113475178

In [90]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predicted)

array([[100,   3,  10],
       [  0,  92,   1],
       [  1,   1,  74]], dtype=int64)

---

# XGBoost

In [37]:
X_train, X_test, y_train, y_test = train_test_split(raw_documents, y, test_size=0.2, random_state=42)

In [39]:
# Builds a dictionary of features and transforms documents to feature vectors and convert our text documents to a
# matrix of token counts (CountVectorizer)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)

# transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [50]:
import xgboost as xgb
xgb = xgb.XGBClassifier()

# training our classifier ; train_data.target will be having numbers assigned for each category in train data
clf = xgb.fit(X_train_tfidf, y_train)

# Input Data to predict their classes of the given categories
docs_new = ["Ajinkya Rahane remains vice-captain in India's revised squad for the Australia Tests but Irfan Pathan feels a much more experienced Rohit Sharma has to lead the side in Virat Kohli's absence following the series opener. Kohli has been granted paternity leave after the first Test and Pathan said it is bound to have a huge impact on the team.",
            "The S&P 500 and Dow were set to open at record highs on Monday, as news of the first successful late stage COVID-19 vaccine trials stirred hopes of the economy emerging from a year of pandemic-driven crisis."]
# building up feature vector of our input
X_new_counts = count_vect.transform(docs_new)
# We call transform instead of fit_transform because it's already been fit
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [51]:
# predicting the category of our input text: Will give out number for category
predicted = clf.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print(doc, "==>",category)

Ajinkya Rahane remains vice-captain in India's revised squad for the Australia Tests but Irfan Pathan feels a much more experienced Rohit Sharma has to lead the side in Virat Kohli's absence following the series opener. Kohli has been granted paternity leave after the first Test and Pathan said it is bound to have a huge impact on the team. ==> sport

The S&P 500 and Dow were set to open at record highs on Monday, as news of the first successful late stage COVID-19 vaccine trials stirred hopes of the economy emerging from a year of pandemic-driven crisis. ==> business

In [52]:
# We can use Pipeline to add vectorizer -> transformer -> classifier all in a one compound classifier
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', xgb),
])
# Fitting our train data to the pipeline
text_clf.fit(X_train, y_train)

# Test data 
test_data = fetch_20newsgroups(subset='test',
                               categories=categories, shuffle=True, random_state=42)
docs_test = X_test
# Predicting our test data
predicted = text_clf.predict(docs_test)
print('We got an accuracy of',np.mean(predicted == y_test)*100, '% over the test data.')

We got an accuracy of 94.68085106382979 % over the test data.

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predicted)

0.9468085106382979

In [54]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predicted)

array([[105,   2,   6],
       [  5,  88,   0],
       [  2,   0,  74]], dtype=int64)

---

# Decision tree

In [91]:
from sklearn import tree

In [92]:
X_train, X_test, y_train, y_test = train_test_split(raw_documents, y, test_size=0.2, random_state=42)

In [93]:
# Builds a dictionary of features and transforms documents to feature vectors and convert our text documents to a
# matrix of token counts (CountVectorizer)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)

# transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [94]:
dt = tree.DecisionTreeClassifier()

# training our classifier ; train_data.target will be having numbers assigned for each category in train data
clf = dt.fit(X_train_tfidf, y_train)

# Input Data to predict their classes of the given categories
docs_new = ["Ajinkya Rahane remains vice-captain in India's revised squad for the Australia Tests but Irfan Pathan feels a much more experienced Rohit Sharma has to lead the side in Virat Kohli's absence following the series opener. Kohli has been granted paternity leave after the first Test and Pathan said it is bound to have a huge impact on the team.",
            "The S&P 500 and Dow were set to open at record highs on Monday, as news of the first successful late stage COVID-19 vaccine trials stirred hopes of the economy emerging from a year of pandemic-driven crisis."]
# building up feature vector of our input
X_new_counts = count_vect.transform(docs_new)
# We call transform instead of fit_transform because it's already been fit
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [95]:
# predicting the category of our input text: Will give out number for category
predicted = clf.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print(doc, "==>",category)

Ajinkya Rahane remains vice-captain in India's revised squad for the Australia Tests but Irfan Pathan feels a much more experienced Rohit Sharma has to lead the side in Virat Kohli's absence following the series opener. Kohli has been granted paternity leave after the first Test and Pathan said it is bound to have a huge impact on the team. ==> sport

The S&P 500 and Dow were set to open at record highs on Monday, as news of the first successful late stage COVID-19 vaccine trials stirred hopes of the economy emerging from a year of pandemic-driven crisis. ==> sport

In [96]:
# We can use Pipeline to add vectorizer -> transformer -> classifier all in a one compound classifier
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', dt),
])
# Fitting our train data to the pipeline
text_clf.fit(X_train, y_train)

# Test data 
test_data = fetch_20newsgroups(subset='test',
                               categories=categories, shuffle=True, random_state=42)
docs_test = X_test
# Predicting our test data
predicted = text_clf.predict(docs_test)
print('We got an accuracy of',np.mean(predicted == y_test)*100, '% over the test data.')

We got an accuracy of 82.26950354609929 % over the test data.

In [97]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predicted)

0.8226950354609929

In [98]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predicted)

array([[87, 10, 16],
       [ 5, 85,  3],
       [12,  4, 60]], dtype=int64)