# Assignment 2 - DS4Biz Y63
## TextScraping_Classification
***

### Team Detail
**Team Name**: sompinandsomshine   
***
### *Student 1*
**Student ID**: 61070278   
**Student Full Name**: นายกิตติภณ สุรุ่งเรืองสกุล
***
### *Student 2*
**Student ID**: 61070330   
**Student Full Name**: นางสาวอิงฟ้า ภูติวรนาถ
***

#### link: http://www.it.kmitl.ac.th/~teerapong/news_archive/index.html

# Data Collection

In [4]:
import requests
#https://requests.readthedocs.io/en/master/
import bs4
#https://www.crummy.com/software/BeautifulSoup/bs4/doc/

import pandas as pd

In [2]:
response = requests.get('http://www.it.kmitl.ac.th/~teerapong/news_archive/index.html')
print(response)
print(type(response))

<Response [200]>
<class 'requests.models.Response'>

In [3]:
html_page = bs4.BeautifulSoup(response.content, 'html.parser')
print(html_page)

<!DOCTYPE html>

<html lang="en">
<head>
<title>Online News Archive</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="noindex" name="robots"/>
<meta content="news,articles,news" name="keywords">
<meta content="Breaking News | International Headlines" property="og:title"/>
<meta content="News Archive" property="og:site_name"/>
<meta content="Latest news and more from the definitive brand of quality news." property="og:description"/>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<style>
	  		.main{ padding: 0; text-align: center;}
	  		.footer{ padding: 6px;text-align: center; margin-top: 1em; }

	  		h1
	  		{
	  			font-size: 180%;
	  			margin-top: 15px;
	  			margin-bottom: 15px;
	  		}
	  		ul {list-style-type: none;}
	  		li { margin-top: 5px; }
	  </style>
</meta></head>
<body>
<div class="container" style="margin-top: 2em;">
<div class="main">
<img alt="banner" src="images/banner.jpg" width="500"/>
<h1>News Article Archive</h1>
<p>Archive of all news headlines and stories, organised per month.</p>
<ul>
<li>Articles — <a href="month-jan-2017.html">January</a> [118]</li>
<li>Articles — <a href="month-feb-2017.html">February</a> [124]</li>
<li>Articles — <a href="month-mar-2017.html">March</a> [116]</li>
<li>Articles — <a href="month-apr-2017.html">April</a> [118]</li>
<li>Articles — <a href="month-may-2017.html">May</a> [115]</li>
<li>Articles — <a href="month-jun-2017.html">June</a> [115]</li>
<li>Articles — <a href="month-jul-2017.html">July</a> [122]</li>
<li>Articles — <a href="month-aug-2017.html">August</a> [116]</li>
<li>Articles — <a href="month-sep-2017.html">September</a> [113]</li>
<li>Articles — <a href="month-oct-2017.html">October</a> [124]</li>
<li>Articles — <a href="month-nov-2017.html">November</a> [122]</li>
<li>Articles — <a href="month-dec-2017.html">December</a> [115]</li>
</ul>
</div>
<div class="footer">
<span><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Cookie Information</a> </span><br/>
<span>© <span class="thisyear">2019-2020</span> — Original rights holders</span>
</div>
</div>
</body>
</html>

In [4]:
# nested elements
selector = 'body > div > div.main > ul > li> a'
tags = html_page.select(selector)
tags

[<a href="month-jan-2017.html">January</a>,
 <a href="month-feb-2017.html">February</a>,
 <a href="month-mar-2017.html">March</a>,
 <a href="month-apr-2017.html">April</a>,
 <a href="month-may-2017.html">May</a>,
 <a href="month-jun-2017.html">June</a>,
 <a href="month-jul-2017.html">July</a>,
 <a href="month-aug-2017.html">August</a>,
 <a href="month-sep-2017.html">September</a>,
 <a href="month-oct-2017.html">October</a>,
 <a href="month-nov-2017.html">November</a>,
 <a href="month-dec-2017.html">December</a>]

In [5]:
list_archive = []
for tag in tags:
    list_archive.append('http://www.it.kmitl.ac.th/~teerapong/news_archive/' + tag['href'])
list_archive

['http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-feb-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-mar-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-apr-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-may-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jun-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jul-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-aug-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-sep-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-oct-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-nov-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-dec-2017.html']

### Create DataFrame

In [6]:
df = pd.DataFrame(columns=['category', 'title', 'link'])
df

Empty DataFrame
Columns: [category, title, link]
Index: []

### Create function

In [7]:
def extract_category(html_page):
    selector = 'body > div > div.main > table > tbody > tr> td.category'
    tags = html_page.select(selector)
    category = []

    for tag in tags:
        if tag.text.strip() != 'N/A':
#             print(tag.text.strip())
            category.append(tag.text.strip())

    return category

In [8]:
def extract_title(html_page):
    selector = 'body > div > div.main > table > tbody > tr > td.title > a'
    tags = html_page.select(selector)
    title = []
    
    for tag in tags:
        title.append(tag.text.strip())
        
    return title

In [9]:
def extract_link_title(html_page):
    selector = 'body > div > div.main > table > tbody > tr > td.title > a'
    tags = html_page.select(selector)
    link_title = []
    
    for tag in tags:    
        link_title.append('http://www.it.kmitl.ac.th/~teerapong/news_archive/' + tag['href'])
        
    return link_title

In [10]:
def extract_month(html_page):
    selector = 'body > div > div.main > h1'
    tag = html_page.select_one(selector)
    month = tag.text.split()[-1]
    return month

In [11]:
url = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'
response = requests.get(url)
html_page = bs4.BeautifulSoup(response.content, 'html.parser')
# extract_category(html_page)
# extract_title(html_page)
# extract_link_title(html_page)
# extract_month(html_page)

In [12]:
# ['Jan']*118

In [13]:
def extract_news_archive_info(url):
    response = requests.get(url)
    html_page = bs4.BeautifulSoup(response.content, 'html.parser')
    
    category = extract_category(html_page)
    title = extract_title(html_page)
    link_title = extract_link_title(html_page)
    month = extract_month(html_page)
    
#     news_archive_dict = {
#         'Article Category': category,
#         'Article Title': title,
#         'Article link': link_title
#     }

    news_archive_list = [category,
            title,
            link_title
                        ]
    
#     return news_archive_list
    category = pd.Series(news_archive_list[0])
    title = pd.Series(news_archive_list[1])
    link_title = pd.Series(news_archive_list[2])
    month_series = pd.Series([month]*len(category))
    
    result = pd.concat([category, title, link_title, month_series], axis=1)
    result = result.rename(columns={0: "category", 1: "title", 2: "link", 3:'month'})
    return result

In [14]:
# url = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'
# df = extract_news_archive_info(url)
# df

In [15]:
# category = pd.Series(news_archive_list[0])
# title = pd.Series(news_archive_list[1])
# link_title = pd.Series(news_archive_list[2])

In [16]:
# df = pd.concat([category, title, link_title], axis=1)
# df = df.rename(columns={0: "category", 1: "title", 2: "link_title"})

### เอา url ไปเข้า Function

In [17]:
list_archive

['http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-feb-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-mar-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-apr-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-may-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jun-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jul-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-aug-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-sep-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-oct-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-nov-2017.html',
 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-dec-2017.html']

In [18]:
for url in list_archive:
    result = extract_news_archive_info(url)
    df = df.append(result, ignore_index=True)

In [19]:
df.isna().sum()

category    0
title       0
link        0
month       0
dtype: int64

In [20]:
df

,category,title,link,month
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January
...,...,...,...,...
1403,sport,Woodward eyes Brennan for Lions,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1404,business,WorldCom trial starts in New York,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1405,business,Yukos accused of lying to court,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1406,business,Yukos drops banks from court bid,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December
1407,sport,Zambia confident and cautious,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December

In [ ]:
# df['link'].iloc[0][50:-5]

### Add id coloumn

In [21]:
df['id'] = df['link'].str[50:-5]
df

,category,title,link,month,id
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0418
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0027
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0631
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-2105
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-3300
...,...,...,...,...,...
1403,sport,Woodward eyes Brennan for Lions,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2238
1404,business,WorldCom trial starts in New York,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2334
1405,business,Yukos accused of lying to court,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2095
1406,business,Yukos drops banks from court bid,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-1351
1407,sport,Zambia confident and cautious,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-0068

In [ ]:
# for i in range(len(result)):
#     print(result['link'].iloc[i])

### Get Content

In [ ]:
# response = requests.get('http://www.it.kmitl.ac.th/~teerapong/news_archive/article-jan-0418.html')
# response = requests.get('http://www.it.kmitl.ac.th/~teerapong/news_archive/article-jan-4187.html')
# print(response)
# print(type(response))

In [23]:
list_content = []

In [24]:
def get_content(url):
    response = requests.get(url)

    html_page = bs4.BeautifulSoup(response.content, 'html.parser')

    selector = 'body > div > div.main > p'
    tags = html_page.select(selector)

    content = ''
    for tag in tags:
        if tag.text.strip() != '':
            if '.html' in str(tag):
                pass
            else:
                content += tag.text.strip() + ' '
                
    list_content.append(content.replace("\'", "'").strip())

In [25]:
# get_content('http://www.it.kmitl.ac.th/~teerapong/news_archive/article-jan-4187.html')
# print(list_content[0])

In [26]:
for i in range(len(df)):
    get_content(df['link'].iloc[i])

In [ ]:
# df['link'].iloc[1403]

In [27]:
content = pd.Series(list_content)
df = pd.concat([df, content], axis=1)
df = df.rename(columns={0: "content"})
df

,category,title,link,month,id,content
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0418,The sporting industry has come a long way sinc...
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0027,Asian quake hits European shares Shares in Eur...
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0631,BT is offering customers free internet telepho...
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-2105,Barclays shares up on merger talk Shares in UK...
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-3300,England centre Olly Barkley has been passed fi...
...,...,...,...,...,...,...
1403,sport,Woodward eyes Brennan for Lions,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2238,Woodward eyes Brennan for Lions Toulouse's for...
1404,business,WorldCom trial starts in New York,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2334,"The trial of Bernie Ebbers, former chief execu..."
1405,business,Yukos accused of lying to court,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-2095,Yukos accused of lying to court Russian oil fi...
1406,business,Yukos drops banks from court bid,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-1351,Russian oil company Yukos has dropped the thre...
1407,sport,Zambia confident and cautious,http://www.it.kmitl.ac.th/~teerapong/news_arch...,December,article-dec-0068,"Zambia's technical director, Kalusha Bwalya is..."

In [ ]:
# print(df['link'].iloc[1403])
# print(df['id'].iloc[1403])
# print(df['content'].iloc[1403])

## save DataFarame to csv
เพื่อให้ง่ายต่อการใช้ในภายหลัง

In [28]:
# df.to_csv('data.csv', index=False)

In [5]:
df = pd.read_csv('data.csv')
df.head()

,category,title,link,month,id,content
0,technology,21st-Century Sports: How Digital Technology Is...,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0418,The sporting industry has come a long way sinc...
1,business,Asian quake hits European shares,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0027,Asian quake hits European shares Shares in Eur...
2,technology,BT offers free net phone calls,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-0631,BT is offering customers free internet telepho...
3,business,Barclays shares up on merger talk,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-2105,Barclays shares up on merger talk Shares in UK...
4,sport,Barkley fit for match in Ireland,http://www.it.kmitl.ac.th/~teerapong/news_arch...,January,article-jan-3300,England centre Olly Barkley has been passed fi...

### คัดให้เหลือเฉพาะที่ใช้ในการวิเคราะห์
- AllArticles_OnlyContent
- AllArticles_HeadingPlusContent

In [9]:
AllArticles_OnlyContent = df['content']
AllArticles_OnlyContent.to_csv('datastore/AllArticles_OnlyContent.csv', index=False)

In [10]:
AllArticles_HeadingPlusContent = df[['title','content']]
AllArticles_HeadingPlusContent.to_csv('datastore/AllArticles_HeadingPlusContent.csv', index=False)

### บันทึก category
folder target

In [17]:
# list(df['category'])

In [19]:
f = open("target/category.txt", "a")

for i in list(df['category']):
    f.write(i + '\n')

f.close()